<ion-header [translucent]="true">
    <ion-toolbar>
        <ion-title>Countries</ion-title> 
    </ion-toolbar>
  </ion-header>
  
  <ion-content [fullscreen]="true">
    <ion-header collapse="condense">
      <ion-toolbar>
        <ion-title size="large">Countries</ion-title>
      </ion-toolbar>    
    </ion-header>
    <div [hidden]="showNoCountriesFound">
        <ion-title>Could not find any countries that matched your search</ion-title>
    </div>

    <div [hidden]="!showNoCountriesFound">
      <ion-list>
        <ion-item *ngFor="let country of foundCountries">
          <ion-card>
            <img alt="Silhouette of mountains" src={{country.flags.png}} />
            <ion-card-header>
              <ion-card-title>{{country.name.official}}</ion-card-title>
            </ion-card-header>
          
            <ion-card-content>
              <ion-button expand="block" (click)="newsSelected(country)">
                News
              </ion-button>
              <ion-button expand="block" (click)="weatherSelected(country)">
                Weather
              </ion-button>
            </ion-card-content>
          </ion-card>
        </ion-item>
      </ion-list>
    </div>
  </ion-content>
  