<ion-header [translucent]="true">
    <ion-toolbar>
        <ion-title>Settings</ion-title> 
    </ion-toolbar>
  </ion-header>
  
  <ion-content [fullscreen]="true">
    <ion-header collapse="condense">
      <ion-toolbar>
        <ion-title size="large">Settings</ion-title>
      </ion-toolbar>    
    </ion-header>
  
    <ion-radio-group [allowEmptySelection]="true" [(ngModel)]="selectedUnit" (ionChange)="onRadioSelectedChanged()">
        <ion-radio value="metric">Metric</ion-radio><br />
        <ion-radio value="standard">Standard</ion-radio><br />
        <ion-radio value="imperial">Imperial</ion-radio><br />
      </ion-radio-group>
  </ion-content>
  